/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

:root {
  --background: #18191a;
  --text-color: #ffffff;
  --text-color-secondary: #7e7e7e;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--background);
  color: var(--text-color);
  font-family: "Rubik", sans-serif;
}

iframe {
  min-height: 100vh;
  width: 100%;
  border: none;
  overflow-y: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
