.container {
  padding: 0 1rem;
}

.header {
  padding: 20px;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.content_large {
  font-size: 50px;
}
.content_small {
  font-weight: 400;
  font-size: 14px;
}

.main_img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 3em;
  border-top: 1px solid var(--text-color-secondary);
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
}

.footer a {
  margin: 0 10px;
  color: var(--text-color-secondary);
}

.footer a:hover {
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
@media only screen and (max-width: 1023px) {
  .main {
    flex-direction: column;
    padding: 2em 0;
  }
  .content {
    text-align: center;
  }
  .content_large {
    font-size: 40px;
  }
  .footer {
    justify-content: center;
    font-size: 10px;
  }
}
