.container {
  padding: 0 1rem;
}

.header {
  padding: 20px;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content_large {
  font-size: 50px;
}
.content_small {
  font-weight: 400;
  font-size: 14px;
}

.main_img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.download_button {
	background: rgba(222, 113, 82, 1);
	border-radius: 0.2em;
  font-size: 16px;
	color: #fff;
	cursor: pointer;
	display: flex;
	margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
	padding: 0.5em 1em;
	transition: all 0.3s linear;
	width: 13em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-tap-highlight-color: transparent;
  font-weight: 100;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 3em;
  border-top: 1px solid var(--text-color-secondary);
  align-items: center;
  font-family: "Rubik", sans-serif;
  font-size: 12px;
}

.footer a {
  margin: 0 10px;
  color: var(--text-color-secondary);
}

.footer a:hover {
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
}
@media only screen and (max-width: 1023px) {
  .main {
    flex-direction: column;
    padding: 2em 0;
  }
  .content {
    align-items: center;
    text-align: center;
  }
  .content_large {
    font-size: 40px;
  }
  .footer {
    justify-content: center;
    font-size: 10px;
  }
}
